[Unit]
Description=Cardano Node Mainnet
Requires=network.target

[Service]
Type=simple
TimeoutStartSec=10s
Restart=always
RestartSec=10
WorkingDirectory=/home/box/.cardanobox/app/cnode/bin/
ExecStart=/home/box/.cardanobox/app/cnode/bin/cardano-node run \
      --database-path /home/box/.cardanobox/app/cnode/mainnet/db/ \
      --socket-path /home/box/.cardanobox/app/cnode/mainnet/socket/mnode.socket \
      --config /home/box/.cardanobox/app/cnode/mainnet/files/config.json \
      --topology /home/box/.cardanobox/app/cnode/mainnet/files/topology.json
LimitNOFILE=500000
LimitNPROC=500000
User=box
Group=box

[Install]
WantedBy=default.target